@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.container{
    width:960px;
    margin: 0 auto;
    /* border:2px solid #000; */
}

.header{
    display:flex;
    justify-content:space-between;
}

.header_square{
    display:none;
}

.header_logo{
    width: 105px;
    height: 63px;
    flex-shrink: 0;
    margin:20px 0px 8px 40px;
}

.blue_header{
    width: 960px;
    height: 39px;
    flex-shrink: 0;
    background: #0078DC;
    margin-bottom:23px;
}

.first_flex{
    display:flex;
    gap:14px;
    margin-bottom:25px;
}

.small_flex{
    display:flex;
}

.div_image{
    background: rgba(253, 255, 140, 0.49);
}

.small_flex_image{
    width: 511px;
    height: 319px;
    flex-shrink: 0;
    opacity:0.29;
}

.small_flex_block{
    width: 255px;
    height: 319px;
    flex-shrink: 0;
    background: #0078DC;
}

.first_flex_block{
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding:131px 45px 0px 45px;
    background: #C4C4C4;
    
}

.second_flex{
    display:flex;
    gap:15px;
    margin-bottom:60px;
}

.second_flex_1{
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: #C4C4C4;
    height:516px;
    padding:69px 226px 0px 76px;
    width: 375px;
    height: 516px;
    flex-shrink: 0;
}

.second_flex_2{
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: #C4C4C4;
    height:516px;
    padding:52px 58px 0px 13px;
    width: 180px;
    height: 516px;
    flex-shrink: 0;
}

.second_flex_3{
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: #C4C4C4;
    height:516px;
    padding:58px 8px 0px 8px;
    width: 180px;
    height: 516px;
    flex-shrink: 0;
}

.second_flex_4{
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: #C4C4C4;
    height:516px;
    padding:75px 64px 0px 59px;
    width: 180px;
    height: 516px;
    flex-shrink: 0;
}

.blue_footer{
    width: 960px;
    height: 330px;
    flex-shrink: 0;
    background: #0078DC;
    margin-bottom:42px;
}

.info, .info_image, .info_block, .info_title, .info_text{
    display:none;
}

.open_info1{
    display:none;
}

.open_info2{
    display:none;
}

.rectangles, .gray_line, .rectangles_flex, .gray_square, .rectangle_flex2, .gray_small_line{
    display:none;
}

.new_open_info{
    display:none;
}

/* 768px part  */

@media(max-width:960px){
    .container{
        max-width:768px;
        width:768px;
        /* border:2px solid #000; */
    }

    .header_square{
        display:block;
        width: 42px;
        height: 42px;
        flex-shrink: 0;
        background: #0078DC;
        margin:29px 20px 29px 0px;
    }

    .header_logo{
        width: 105px;
        height: 63px;
        flex-shrink: 0;
        margin:20px 0px 17px 20px;
    }

    .blue_header{
        display:none;
    }

    .small_flex_block{
        display:none;
    }

    .small_flex_image{
        display:none;
    }

    .div_image{
        display:block;
        background: rgba(253, 255, 140, 0.49);
        opacity:0.49;
        width: 546px;
        height: 320px;
        flex-shrink: 0;
        margin-left:20px;
    }

    .first_flex_block{
        width: 180px;
        height: 320px;
        flex-shrink: 0;
        padding:42px 0px 0px 36px;
        margin-right:20px;
    }

    .first_flex{
        gap:2px;
        margin-bottom:25px;
    }

    .second_flex_2, .second_flex_3, .second_flex_4{
        display:none;
    }

    .second_flex_1{
        width: 728px;
        height: 309px;
        flex-shrink: 0;
        background: #C4C4C4;
        padding:41px 0px 0px 148px;
        margin:0px 20px 27px 20px;
    }

    .info{
        display:block;
        margin:0px 20px 27px 20px;
        background: #EFEFEF;
        display:flex;
    }

    .info_image{
        display:block;
        width: 180px;
        height: 120px;
        flex-shrink: 0;
        padding:0px;
    }

    .info_block{
        display:block;
    }

    .info_title{
        display:block;
        color: #0078DC;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin:16px 0px 0px 27px;
    }

    .info_text1{
        display:block;
        color: #000;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin:0px 21px 10px 29px;
    }

    .info_text2{
        display:block;
        color: #000;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin:0px 27px 42px 29px;
    }

    .open_info1{
        display:block;
        width: 728px;
        height: 182px;
        flex-shrink: 0;
        background: #C4C4C4;
        color: #000;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin:0px 20px 27px 20px;
        padding:17px 0px 0px 209px;
    }

    .open_info2{
        display:block;
        width: 728px;
        height: 182px;
        flex-shrink: 0;
        background: #C4C4C4;
        color: #000;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin:0px 20px 25px 20px;
        padding:17px 0px 0px 209px;
    }

    .blue_footer{
        width: 768px;
        height: 330px;
        flex-shrink: 0;
    }

    .rectangles{
        display:block;
        margin:0px 20px;
        margin-right:20px;
    }

    .gray_line{
        display:block;
        width: 728px;
        height: 25px;
        flex-shrink: 0;
        background: #F0F0F0;
    }

    .rectangles_flex{
        display:flex;
        justify-content:space-between;
    }

    .gray_square{
        display:block;
        width: 44px;
        height: 44px;
        flex-shrink: 0;
        background: #C4C4C4;
    }

    .rectangle_flex2{
        display:flex;
    }

    .gray_small_line{
        display:block;
        width: 20px;
        height: 44px;
        flex-shrink: 0;
        background: #F0F0F0;
    }

    .second_flex{
        margin-bottom:0px;
    }

    .new_open_info{
        display:none;
    }
}

/* 414px version */

@media(max-width:768px){
    .container{
        width:414px;
        max-width:414px;
    }

    .div_image{
        width: 414px;
        height: 258px;
        flex-shrink: 0;
        background-color:#FDFF8C7D;
        opacity:0.49;
        margin-left:0px;
        margin-bottom:20px;
    }

    .small_flex_image{
        display:block;
        width: 414px;
        height: 258px;
        flex-shrink: 0;
        background: rgba(253, 255, 140, 0.49);
        /* opacity:0.49; */
        margin-top:0px;
        margin-bottom:20px;
        margin-left:0px;
        margin-right:0px;
    }

    .first_flex{
        display:flex;
        flex-direction:column;
        margin-bottom:0px;
    }

    .first_flex_block{
        margin:0px 10px 21px 10px;
        padding:0px 98.5px;
        padding-top:131px;
        padding-bottom:167px;
        width: 394px;
        height: 319px;
        flex-shrink: 0;
    }

    .second_flex_1{
        margin:0px 10px 6.73px 10px;
        padding:69px 0px 0px 79.85px;
        width: 394px;
        height: 516px;
        flex-shrink: 0;
    }

    .header_logo{
        width: 70px;
        height: 42px;
        flex-shrink: 0;
        margin:10px 0px 0px 10px;
    }

    .header_square{
        width: 42px;
        height: 42px;
        flex-shrink: 0;
        margin:10px 10px 0px 0px;
    }

    .header{
        margin-bottom:12px;
    }

    .new_open_info{
        display:block;
        background: #C4C4C4;
        color: #000;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding:11px 0px 9.63px 22px;
        margin:12.37px 10px;
    }

    .info{
        margin:0px 10px;
    }

    .info_text1{
        color: #000;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin:0px 0px 0px 23px;
    }

    .info_text2{
        color: #000;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin:28px 0px 23px 23px;
    }

    .info_title{
        color: #0078DC;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin:16px 0px 5.75px 22px;
    }

    .info_image{
        display:none;
    }

    .open_info1, .open_info2{
        display:none;
    }

    .rectangles{
        margin:0;
    }
    
    .gray_line{
        width: 393px;
        height: 20px;
        flex-shrink: 0;
        background: #F0F0F0;
        margin:0px 10px;
        margin-left:11px;
    }

    .rectangles_flex{
        margin:0px 10px;
    }

    .blue_footer{
        width: 414px;
        height: 330px;
        flex-shrink: 0;
        margin:0px;
        margin-bottom:41px;
    }
}

/* 360px version */

@media(max-width:414px){
    .container{
        width:360px;
        max-width:360px;
        /* border:2px solid #000;     */
    }

    .header_logo{
        margin:10px 0px 0px 15px;
    }

    .header_square{
        margin:10px 15px 0px 0px;
    }

    .div_image{
        background: rgba(253, 255, 140, 0.49);
        width: 360px;
        height: 224px;
        margin:0px 0px 21px 0px;
    }

    .small_flex_image{
        width: 360px;
        height: 224px;
        flex-shrink: 0;
    }

    .first_flex{
        margin-bottom:0px;
    }

    .first_flex_block{
        margin:0px 15px 20px 15px;
        padding:131px 0px 0px 82.5px;
        color: #000;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 330px;
        height: 319px;
        flex-shrink: 0;
    }

    .second_flex_1{
        margin:0px 15px;
        padding:69px 0px 0px 66.97px;
        color: #000;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        background: #C4C4C4;
        width: 330px;
        height: 516px;
        flex-shrink: 0;
    }

    .info{
        margin:0px 15px;
    }

    .info_image{
        display:none;
    }

    .info_title{
        color: #0078DC;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin:16px 0px 5.75px 18.43px;
    }

    .info_text1{
        margin:0px 0px 28px 19px;
        color: #000;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .info_text2{
        margin:0px 0px 23px 19px;
        color: #000;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .new_open_info{
        margin-left:15px;
        margin-right:15px;
    }

    .gray_line{
        width: 330px;
        height: 20px;
        flex-shrink: 0;
        margin:0 15px;
    }

    .rectangles_flex{
        margin:0px 15px;
    }

    .blue_footer{
        width: 360px;
        height: 330px;
        flex-shrink: 0;
    }
}
